:root {
    --bg-black: #002632;
    --bg-white: #f5f5f5;
    --font-inter: 'Inter', sans-serif;
    --font-reem: 'Reem Kufi Fun', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--bg-white);
}

header {
    height: 72px;
    background-color: var(--bg-black);

    .header-wrapper {
        padding-top: 32px;
        margin-left: calc((100vw - 1440px) / 2);
        margin-right: calc((100vw - 1440px) / 2);
        width: 1440px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 122px;
            font-family: 'Reem Kufi Fun';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            color: #ffffff;
        }

        .menu {
            display: flex;
            width: 270px;
            justify-content: space-between;

            .menu-item {
                width: 60px;
                list-style: none;
                a {
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    color: #d9d9d9;
                }
            }
        }

        .contact {
            color: #ff7a01;
            width: 120px;
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            border: none;
            background-color: transparent;
        }
    }
}

#hero {
    height: 842px;
    background-color: var(--bg-black);

    .hero-wrapper {
        padding-top: 61px;
        margin-left: calc((100vw - 1440px) / 2);
        margin-right: calc((100vw - 1440px) / 2);
        width: 1440px;
        .profile {
            display: flex;
            height: 657px;
            .slogan {
                width: 50%;
                margin-top: 60px;

                h1 {
                    width: 602px;
                    font-family: var(--font-reem);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 96px;
                    line-height: 106px;
                    color: #ffffff;
                }

                p {
                    margin-top: 30px;
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: #d9d9d9;
                }

                button {
                    margin-top: 50px;
                    width: 241px;
                    height: 68px;
                    font-family: var(--font-inter);
                    text-decoration: underline;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                    background: #ff7a01;
                    color: #ffffff;
                    border: none;
                }
            }
            .profile-picture-wrapper {
                width: 50%;
                display: flex;
                justify-content: end;

                .profile-picture {
                    width: 563px;
                    height: 657px;
                    position: relative;

                    .rec-1,
                    .rec-2 {
                        position: absolute;
                        background: #ff7a01;
                        width: 92px;
                        height: 120px;
                    }

                    .rec-1 {
                        right: 0;
                        top: 0;
                    }

                    .img {
                        width: 563px;
                        height: 657px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 498px;
                            height: 591px;
                            z-index: 10;
                        }
                    }

                    .rec-2 {
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }

        .statistics {
            margin-top: 37px;
            height: 169px;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.09);
            display: flex;
            justify-content: space-around;
            .data {
                height: 169px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .number {
                    color: #031929;
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 42px;
                }

                .field {
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #8f8ba5;
                }
            }
        }
    }
}

#about {
    height: 1030px;

    .about-wrapper {
        padding-top: 222px;
        margin-left: calc((100vw - 1170px) / 2);
        margin-right: calc((100vw - 1170px) / 2);
        width: 1170px;
        .title {
            h2 {
                font-family: var(--font-reem);
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 74px;
                color: #031929;
            }

            p {
                margin-top: 22px;
                font-family: var(--font-inter);
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #8f8ba5;
            }
        }

        .profile {
            display: flex;
            height: 657px;

            .profile-picture-wrapper {
                width: 50%;
                margin-top: 30px;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                .profile-picture {
                    width: 563px;
                    height: 657px;
                    position: relative;

                    .rec-1,
                    .rec-2 {
                        position: absolute;
                        background: #ff7a01;
                        width: 92px;
                        height: 120px;
                    }

                    .rec-1 {
                        left: 0;
                        top: 0;
                    }

                    .img {
                        width: 563px;
                        height: 657px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 498px;
                            height: 591px;
                            z-index: 10;
                        }
                    }

                    .rec-2 {
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            .bio {
                width: 50%;
                margin-left: 150px;
                p {
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #8f8ba5;
                    width: 511px;

                    &:nth-child(1) {
                        margin-top: 67px;
                    }

                    &:nth-child(2) {
                        margin-top: 84px;
                    }
                }

                button {
                    margin-top: 35px;
                    width: 142px;
                    height: 51px;
                    background: #ff7a01;
                    border: none;
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                    color: #ffffff;
                }
            }
        }
    }
}

#gallery {
    height: 1721px;
    margin-top: 140px;
    .gallery-wrapper {
        margin-left: calc((100vw - 1170px) / 2);
        margin-right: calc((100vw - 1170px) / 2);
        width: 1170px;
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-family: var(--font-reem);
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 74px;
                color: #031929;
            }
            p {
                margin-top: 28px;
                width: 773px;
                font-family: var(--font-inter);
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #8f8ba5;
            }
        }

        .galleries {
            margin-top: 60px;
            display: grid;
            gap: 32px 15px;
            grid-template-columns: auto auto;

            .card-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .card {
                    width: 570px;
                    height: 658px;
                    .card-image {
                        height: 552px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .card-title {
                        margin-top: 8px;
                        font-family: var(--font-inter);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 34px;
                        color: #031929;
                    }

                    .card-content {
                        margin-top: 8px;
                        width: 497px;
                        font-family: var(--font-inter);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        color: #8f8ba5;
                    }
                }
            }
        }

        .show-more {
            text-align: center;
            margin-top: 50px;

            button {
                width: 279px;
                height: 72px;
                background: #ff7a01;
                border: none;
                font-family: var(--font-inter);
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                color: #ffffff;
            }
        }
    }
}

#works {
    background-color: var(--bg-black);
    margin-top: 140px;

    .works-wrapper {
        margin-left: calc((100vw - 1170px) / 2);
        margin-right: calc((100vw - 1170px) / 2);
        width: 1170px;
        height: 818px;

        .title {
            height: 135px;

            display: flex;
            justify-content: space-between;

            h2 {
                padding-top: 53px;
                font-family: var(--font-reem);
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 74px;
                color: #ffffff;
            }
            .description {
                padding-top: 60px;

                p {
                    width: 583px;
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    /* or 167% */

                    color: #ededed;
                }

                div {
                    margin-top: 38px;
                    display: flex;
                    flex-direction: row-reverse;

                    button {
                        width: 184px;
                        height: 30px;
                        font-family: var(--font-inter);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 30px;
                        color: #ff7a01;
                        background: transparent;
                        border: none;
                    }
                }
            }
        }

        .projects {
            margin-top: 80px;
            display: grid;
            gap: 32px 15px;
            grid-template-columns: auto auto auto;

            .card-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .card {
                    width: 370px;
                    height: 536px;
                    .card-image {
                        height: 460px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .card-date {
                        margin-top: 8px;
                        font-family: var(--font-inter);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        color: #ff7a01;
                    }

                    .card-content {
                        margin-top: 8px;
                        font-family: var(--font-inter);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 34px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

#best-cap {
    margin-left: calc((100vw - 1170px) / 2);
    margin-right: calc((100vw - 1170px) / 2);
    width: 1170px;
    .best-cap-wrapper {
        margin-top: 140px;
        height: 1190px;

        .title {
            display: flex;
            justify-content: space-between;
            height: 120px;

            h2 {
                font-family: var(--font-reem);
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 74px;
                color: #031929;
            }

            p {
                width: 502px;
                font-family: var(--font-inter);
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #8f8ba5;
            }
        }

        .best-caps {
            display: grid;
            gap: 32px 15px;
            grid-template-columns: auto auto auto;
            margin-top: 60px;

            .card-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .card {
                    width: 370px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .card-short {
                    height: 441px;
                }

                .card-long {
                    height: 490px;
                }
            }
        }
    }
}

#start-new {
    margin-top: 140px;
    background-color: var(--bg-black);
    height: 475px;

    .start-new-wrapper {
        margin-left: calc((100vw - 1170px) / 2);
        margin-right: calc((100vw - 1170px) / 2);
        width: 1170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 88px;
            font-family: var(--font-reem);
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 74px;
            color: #ffffff;
        }

        p {
            margin-top: 42px;
            width: 942px;
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #e2e2e2;
        }

        button {
            margin-top: 55px;
            width: 239px;
            height: 68px;
            left: 601px;
            border: none;
            background: #ff7a01;
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
        }
    }
}

footer {
    height: 241px;
    background: #ff7a01;

    .footer-wrapper {
        padding-top: 65px;
        margin-left: calc((100vw - 1440px) / 2);
        margin-right: calc((100vw - 1440px) / 2);
        width: 1440px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 122px;
            font-family: var(--font-reem);
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            color: #ffffff;
            width: 40%;
        }

        .menu {
            display: flex;
            // width: 270px;
            justify-content: space-between;
            width: 20%;

            .menu-item {
                width: 60px;
                list-style: none;
                line-height: 32px;
                a {
                    font-family: var(--font-inter);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    color: #d9d9d9;
                }
            }
        }

        .contact {
            display: flex;
            justify-content: end;
            width: 40%;
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            color: #ffffff;
        }
    }
    .all-right {
        margin-top: 66px;
        display: flex;
        justify-content: center;

        button {
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            border: none;
            background-color: transparent;
            color: #ffffff;
            text-decoration: underline;
        }
    }
}
